[Generator]
GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G.pth

[MakingPoisonedData]
Clean_tatget_data_path = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette2/train_on_7/n03425413
Poisoned_target_data_Path = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette_poisoned/train/n03425413
Poisoned_Portion = 0.5
Trigger_ID = 10
Trigger_Size = 50

[TrainingBackdoorModel]
Poisoned_Datasets_Root = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette_poisoned
Clean_Datasets_Root = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette2

CLEAN_MODEL_PATH_VGG16_CIFAR10 = /home/nas928/ln/GETBAK/models/vgg16_cifar10_clean_520_2326.pth
CLEAN_MODEL_PATH_RESNET18_IMAGENETTE = /home/nas928/ln/GETBAK/models/resnet18_imagenette_clean.pth

BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK.pth

[TestingBackdoorModel]
Trigger_ID = 10
Trigger_Size = 50
Poisoned_Datasets_Root = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette_poisoned
Clean_Datasets_Root = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette2

CLEAN_MODEL_PATH_VGG16_CIFAR10 = /home/nas928/ln/GETBAK/models/vgg16_cifar10_clean_520_2326.pth
CLEAN_MODEL_PATH_RESNET18_IMAGENETTE = /home/nas928/ln/GETBAK/models/resnet18_imagenette_clean.pth

BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK.pth
