[Generator]
GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_30inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25_2inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_20inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_15inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_10inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf_WITHOUT_target_loss.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf_WITHOUT_lpips_loss.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf_WITHOUT_untarget_loss.pth
upper = 25
lower = -25

CLEAN_MODEL_FINETUNE_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_clean_finetune.pth
CLEAN_MODEL_PATH_RESNET18_IMAGENETTE = /home/nas928/ln/GETBAK/models/resnet18_imagenette_clean.pth

# [GeneratorNew]
# Pretrained_Backdoored_Model_Path = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_clean_label_20inf_93asr.pth

[MakingPoisonedData]
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/models/G_0807_asr99_newmethod_epo14.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_30inf.pth
GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25_2inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_20inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_15inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_10inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf_WITHOUT_lpips_loss.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf_WITHOUT_target_loss.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf_WITHOUT_untarget_loss.pth

CLEAN_MODEL_PATH_RESNET18_IMAGENETTE = /home/nas928/ln/GETBAK/models/resnet18_imagenette_clean.pth

Clean_tatget_data_path = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette2/train_on_7/n03425413
Poisoned_target_data_Path = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette_poisoned/train/n03425413
Poisoned_Portion = 0.5

[TrainingBackdoorModel]

IF_DATA_AUG = 0

Poisoned_Datasets_Root = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette_poisoned
Clean_Datasets_Root = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette2

CLEAN_MODEL_PATH_VGG16_CIFAR10 = /home/nas928/ln/GETBAK/models/vgg16_cifar10_clean_520_2326.pth
CLEAN_MODEL_PATH_RESNET18_IMAGENETTE = /home/nas928/ln/GETBAK/models/resnet18_imagenette_clean.pth

BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf30.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf25_2.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf20.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf15.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_without_target_loss_linf25.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_without_untarget_loss_linf25.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_asr99_new_method_epo14.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf25.pth



Training_Batch_Size = 100
Testing_Batch_Size = 100

TRAINING_EPOCHS = 1

[TestingBackdoorModel]
# Trigger_ID = 10
# Trigger_Size = 224
Poisoned_Datasets_Root = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette_poisoned
Clean_Datasets_Root = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette2

# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/models/G_0807_asr99_newmethod_epo14.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_30inf.pth
GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25_2inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_20inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_15inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_10inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf_WITHOUT_lpips_loss.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf_WITHOUT_target_loss.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf_WITHOUT_untarget_loss.pth

CLEAN_MODEL_PATH_VGG16_CIFAR10 = /home/nas928/ln/GETBAK/models/vgg16_cifar10_clean_520_2326.pth
CLEAN_MODEL_PATH_RESNET18_IMAGENETTE = /home/nas928/ln/GETBAK/models/resnet18_imagenette_clean.pth

CLEAN_MODEL_FINETUNE_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_clean_finetune.pth

BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf30.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf25_2.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf20.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf15.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_asr99_new_method_epo14.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf25.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_without_target_loss_linf25.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_without_untarget_loss_linf25.pth

Training_Batch_Size = 100
Testing_Batch_Size = 100


[Defense]
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/models/G_0807_asr99_newmethod_epo14.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_20inf.pth
GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_15inf.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf_WITHOUT_lpips_loss.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25_2inf.pth

# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_asr99_new_method_epo14.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf25_2.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf20.pth
BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_linf15.pth

FINETUNE_FINAL_BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_FINETUNE_DEFENSE.pth

Training_Batch_Size = 50
Testing_Batch_Size = 50


[CleanLabelBackdoorBaseline]
Trigger_Size = 50

[BadNetBackdoorBaseline]
Trigger_Size = 50



[ShowResult]
# Trigger_ID = 10
# Trigger_Size = 224
Poisoned_Datasets_Root = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette_poisoned
Clean_Datasets_Root = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette2

# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G.pth
# GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/models/G_0807_asr99_newmethod_epo14.pth
GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G_25inf.pth

CLEAN_MODEL_PATH_VGG16_CIFAR10 = /home/nas928/ln/GETBAK/models/vgg16_cifar10_clean_520_2326.pth
CLEAN_MODEL_PATH_RESNET18_IMAGENETTE = /home/nas928/ln/GETBAK/models/resnet18_imagenette_clean.pth

CLEAN_MODEL_FINETUNE_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_clean_finetune.pth

BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK.pth
# BACKDOOR_MODEL_PATH = /home/nas928/ln/GETBAK/models/resnet18_imagenette_backdoored_GETBAK_asr99_new_method_epo14.pth

# Training_Batch_Size = 1
# Testing_Batch_Size = 1