[Generator]
GENERATOR_SAVED_PATH = /home/nas928/ln/GETBAK/tempt_data/G.pth

[MakingPoisonedData]
Clean_tatget_data_path = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette2/train_on_7/n03425413
Poisoned_target_data_Path = /home/nas928/ln/GETBAK/datasets/imagenette/imagenette_poisoned/train/n03425413
Poisoned_Portion = 0.5
Trigger_ID = 10
Trigger_Size = 50

